Repository rcmdnk/homebrew-file: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

autoflake_diff:
  name: autoflake_diff
  entry: autoflake
  language: system
  require_serial: true
  verbose: true

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --in-place

autopep8_diff:
  name: autopep8_diff
  entry: autopep8
  language: system
  args:
  - --diff
  verbose: true

autopep8:
  name: autopep8
  entry: autopep8
  language: system
  args:
  - --in-place

pflake8:
  name: pflake8
  entry: pflake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

use separated files update docs for development
  .github/workflows/test.yml
  README.md
  combine.sh
  docs/development.rst
  docs/index.rst
  pyproject.toml
  src/brew_file/__init__.py
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/info.py
  src/brew_file/main.py
  src/brew_file/utils.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

update coverage badge
  docs/development.rst
  docs/index.rst
Due: blacken-docs

write out brew-file
  combine.sh
Due: none

use combined script
  bin/brew-file
Due: none

update badge in the README
  README.md
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/main.py
  src/brew_file/utils.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

update test for brew_helper
  .github/workflows/test.yml
  bin/brew-file
  combine.sh
  pyproject.toml
  src/brew_file/brew_helper.py
  src/brew_file/info.py
  src/brew_file/utils.py
  tests/test_brew_helper.py
  tests/test_open_wrapper.py
  tests/test_print.py
  tests/test_tee.py
  tests/test_utils.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

reorder BrewFile: homebrew/cask first after homebrew/core change func name: BrewInfo.set_val -> set
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  src/brew_file/info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use field(default_factory) for default value fix cask_args_input in BrewInfo: list -> dict fix annotations
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  src/brew_file/utils.py
  tests/test_brew_helper.py
  tests/test_print.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

filename: str | Path -> path | Path
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  tests/test_brew_file.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

ignore check_brew_git_origin: for linux
  .gitignore
  install.sh
Due: none

add os/arc check
  install.sh
Due: none

fix by shellcheck
  install.sh
Due: none

update pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix by following shellcheck
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  combine.sh
  tests/scripts/proc_env_test.sh
Due: blacken-docs

use python-action
  .github/workflows/test.yml
Due: none

remove unused if
  .github/workflows/test.yml
Due: none

run pre-commit only for main
  .github/workflows/test.yml
Due: none

add flake8 plugins, fix by it
  .pre-commit-config.yaml
  bin/brew-file
  docs/conf.py
  pyproject.toml
  renovate.json
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

update gitignore
  .gitignore
Due: none

depend_on python@3.10 exactly instead of python
  brew-file.rb
Due: none

show diff of combined script
  combine.sh
Due: none

add bandit error explanation
  pyproject.toml
Due: none

use tmp_path in tests
  tests/test_brew_file.py
  tests/test_open_wrapper.py
  tests/test_tee.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use return and manage exit at __main__ instead of using sys.exit in each
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/main.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use match (with StrRe) instead of if-else
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/main.py
  src/brew_file/utils.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

add tests
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  tests/files/BrewfileExt
  tests/files/BrewfileTest
  tests/test_brew_file.py
  tests/test_brew_helper.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

rename the attribute: brew_info.path -> brew_info.file
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  tests/test_brew_file.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

put to the variable(collection) to pass the type check
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

if-else -> match-case
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

update annotations
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use raise instead of sys.exit(non 1), return bool as much as possible
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

add delimiter to the cask args
  bin/brew-file
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

raise CmdError at command failure
  bin/brew-file
  src/brew_file/brew_helper.py
  src/brew_file/main.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use XDG_CONFIG_HOME for default config path
  bin/brew-file
  docs/getting_started.rst
  docs/installation.rst
  docs/usage.rst
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use logging instead of print
  bin/brew-file
  etc/bash_completion.d/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/main.py
  src/brew_file/utils.py
  tests/conftest.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
  tests/test_tee.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

fix brew_file.opt with default values
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use verbose only to set logger level
  bin/brew-file
  docs/help.rst
  docs/settings.rst
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/main.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

remove file argument: not used
  bin/brew-file
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

use just update, move verbose setting in BrewFile from main
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/main.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

refactor no_appstore status use set_args at the end of BrewFile.__post_init__
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/main.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake_diff, autoflake, autopep8_diff, autopep8, pflake8, bandit

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  autoflake_diff: any of: \.py$
  autoflake: any of: \.py$
  autopep8_diff: any of: \.py$
  autopep8: any of: \.py$
  pflake8: any of: \.py$
  bandit: any of: \.py$
